version: "3.8"

services:
  postgres:
    image: postgres:15-alpine
    container_name: abdurblog_db
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - abdurnet

  minio:
    image: minio/minio
    container_name: abdurblog_storage
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: ${MINIO_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_PASSWORD}
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - miniodata:/data
    networks:
      - abdurnet

volumes:
  pgdata:
  miniodata:

networks:
  abdurnet:
    driver: bridge
